<!-- Button trigger modal -->
<button class="btn btn-primary mx-auto mt-3" data-bs-toggle="modal" data-bs-target="#editDescModal" style="width: 20%; border-radius: 2rem">Edit Description</button>

<!-- Modal -->
<div class="modal fade" id="editDescModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editDescModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDescModalLabel" style="color: black">About You</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'leidos_app:save_profile_desc' %}"
          enctype="multipart/form-data" class="auto-form">
            {% if edit_description_form %}
                {% csrf_token %}
                {{edit_description_form.as_p}}
            {% endif %}
          <button type="submit" class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>