{% extends 'leidos_app/base.html' %}
{% load static %}

{% block title_block %}
Add New Section
{% endblock %}

{% block body_block %}
<style>
    #content{
        margin-left: 50px;
    }
</style>
<h1 id="content">Add New Item</h1>
{% if form %}
    <form id="content" method="post" action="{% url 'leidos_app:create_section_item' business_name_slug %}"
          enctype="multipart/form-data" class="auto-form">

        {% csrf_token %}
        {{ form.as_ul }}
        <button type="submit">Save</button>
    </form>
{% endif %}
{% endblock %}