<!DOCTYPE html>
{% load static %} 


<html>

	<head>
		
		{% block base_css %}
			<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
		{% endblock %}
		
		<title>
			Leidos -
			{% block title_block %}
				Base
			{% endblock %}
		</title>

	</head>

	<body>
		
		<nav class="navigation-bar">
			<img class="logo" src="{% static 'images/logo.png' %}" alt="logo" />
			<ul>
				{% if user.is_authenticated %}
					<li><a href="#">Profile</a></li>
					<li><a href="{% url 'leidos_app:logout' %}">Logout</a></li>
				{% else %}
					<a href="{% url 'leidos_app:login' %}">Login</a>
					<a href="{% url 'leidos_app:register' %}">Register</a>
				{% endif %}
			</ul>
		</nav>
		
		<div class = "main">

		{% if messages %}
        	{% for message in messages %}
    			<ul {% if message.tags %} class="{{ message.tags }}"{% endif %}>
					{% if message.tags == "success" %}
					<p style="color:green">{{ message }}</p>
					{% elif message.tags == "error" %}
					<p style="color:red">{{ message }}</p>
					{% endif %}
				</ul>

			{% endfor %}
			{% endif %}
			{% block body_block %}
			THIS IS THE BODY BLOCK
			{% endblock %}


		</div>
		
	</body>
	
	<footer class="footer">
		<p>© 2021 Team CS38</p>
	</footer>
		
</html>