{% extends 'leidos_app/base.html' %}
{% load static %}

{% block title_block %}
	Business Name
{% endblock %}

{% block body_block %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'business.css' %}"/>
	
	<div class="banner-container" >
		
		<span class="">
			{% if business.img %}
				<img src="{{MEDIA_URL}}{{business.img}}" alt="Banner">
			{% endif %}
			<div class="business-name">
			<h1>{{ business.name }}</h1>
				{% if business.description %}
					<h4>{{ business.description }}</h4>
				{% endif %}
			{% if is_business_owner %}
				<a href="{% url 'leidos_app:edit_business' business.slug %}">Edit Business Details</a>
			{% endif %}
			</div>
			<h3><p style="text-align:left;">{{ business.address }}
			{% for hour in opening_hours %}
				{% if hour.weekday_to|length > 0 %}
					<span style="float:right;
						">Open : {{ hour.weekday_from }} - {{ hour.weekday_to }}  {{ hour.from_hour}} - {{ hour.to_hour }}</span>
				{% else %}
					<span style="float:right;
						">Open : {{ hour.weekday_from }}  {{ hour.from_hour}} - {{ hour.to_hour }}</span>
				{% endif %}
				{% endfor %}
   			 </p></h3>
		</span>
		
	</div>
	
	<br>
	
	<nav id ="categories">
		<ul>
			{% for section in sections %}
				<li>
					<a onclick=document.getElementById("{{ section.0.name }}").scrollIntoView(true) href="#mains">{{ section.0.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
	
	<br>


{% for section in sections %}
	<div id="{{ section.0.name }}" class="cat-name">
		<span><b>{{ section.0.name }}</b></span>
	</div>
	
	<br>
	
	<div class="tiles">
	{% for item in section.1 %}
		<div class="tile">
			<div style="text-align: center;"><b>{{ item.name }}</b></div>
			{% if item.img %}
			<img src="{{MEDIA_URL}}{{item.img}}" alt="Banner" class="tile-image">
			{% endif %}
			<div class="tile-content">
				{{ item.description }}
			</div>
			<div class="tile-price">
				{{ item.price }}£
			</div>
			
		</div>
		{% endfor %}
	</div>
{% endfor %}

	
{% endblock %}




