{% extends 'leidos_app/base.html' %}
{% load static %}

{% block title_block %}
	Business Name
{% endblock %}

{% block body_block %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'business.css' %}"/>
	
	<div class="banner-container" >
		
		<span class="">
			<img src="{% static 'images/banner.jpg' %}" alt="Banner">
			<div class="business-name">
			<h1>Bob's Burgers<h1>
			<h4>American, Burgers, Vegetarian, Allergy-Friendly<h4>
			</div>
			<h3><p style="text-align:left;">Hillhead St, G12 8QE
			<span style="float:right;">Open : 11am - 8pm</span></h3>
    </p>
		</span>
		
	</div>
	
	<br>
	
	<nav id ="categories">
		<ul>
			<li><a href="#mains">Mains</a></li>
			<li><a href="#sides">Sides</a></li>
			<li><a href="#drinks">Drinks</a></li>
		</ul>
	</nav>
	
	<br>
	
	<div class="cat-name">
		<span>Mains</span>
	</div>
	
	<br>
	
	<div class="tiles">
	
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Name
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
	</div>
	
	<br>
	
	<div class="cat-name">
		<span>Sides</span>
	</div>
	
	<br>
	
	<div class="tiles">
	
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Name
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
	</div>
	<br>
	
	<div class="cat-name">
		<span>Drinks</span>
	</div>
	
	<br>
	
	<div class="tiles">
	
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Name
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
		<div class="tile">
			
			<img src="{% static 'images/banner.jpg' %}" alt="Banner" class="tile-image">
			<div class="tile-content">
				Item Description
			</div>
			<div class="tile-price">
				Price
			</div>
			
		</div>
		
	</div>
	
{% endblock %}




