{% extends 'leidos_app/base.html' %} 
{% load static %} 

<html>
    {% block title_block %}
        Create New Menu
    {% endblock %}

    {% block body_block %}
    <link rel="stylesheet" href="{% static 'menu.css' %}">


         <div class="alignRow">
            <div class="imgcolumn">
                <img src="{% static 'images/roll.jpg' %}" alt="Picture of a Roll" width="100" height="auto" />
                <p>Roll £2.50 </p>
            </div>

            <div class="imgcolumn">
                <img src="{% static 'images/burger.jpg' %}" alt="Picture of a Burger" width="100" height="auto" />
                <p>Burger £4</p>
            </div>

            <div class="imgcolumn">
                <img src="{% static 'images/hotdog.jpg' %}" alt="Picture of a Hot Dog" width="100" height="auto" />
                <p> Hotdog £3.50 </p>
            </div>
        </div>
    
        <div class="menu.css">
            <br />
            <h1 class="menu.h1"> Add new Item </h1>
            <br />
            <form id="menu_form" method="post" action="{% url 'leidos_app:create_menu' %}">
                
                Item Name: <input type="text" name="Item" value="" size="50">
                <br />

                Item Image: <input type="text" name="Item" value="" size="50">
                <br />

                Price of Item: <input type="text" name="Item" value="" size="50">
                <br />
            </form>
            <form method="post" action="{% url 'leidos_app:menu' %}">
                {% csrf_token %}
                <input  type="submit" value="Add"  />
            </form>
        </div>
    {% endblock %}
</html>