{% extends 'leidos_app/base.html' %}
{% load static %}

{% block title_block %}
Register Your Business
{% endblock %}

{% block head_block %}
        <link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock %}

{% block body_block %}
<style>
	#content{
    margin-left: 50px;
	}

	#head{
    text-align: center;
	}
</style>
     <div class="container mt-3" id="content">
        <h1 id="head">Edit Business Details</h1>
		<div id="head">
		 {% include 'includes/create_section_modal.html' %}
		 {% if section_item_form %}
		 	{% include 'includes/create_section_item_modal.html' %}
		 {% endif %}
		 {% include 'includes/create_hours_modal.html' %}
		 </div>
		 <br />
		 <div class="container p-4 mt-3" style="background-color: #71a4f0; width:50%; border-radius: 5%">
		   <form
				method="post"
				action="{% url 'leidos_app:save_business_edit' business.slug %}"
				enctype="multipart/form-data"
				class="row g-3">
					{% csrf_token %}
					<div class="col-md-7" aria-required="true">
						<label for="id_address" class="form-label">Address</label>
						{{ business_form.address }}
                	 </div>
			   		<div class="col-md-5" aria-required="false">
						<label for="id_img" class="form-label">Business Cover Image</label>
						{{ business_form.img }}
                	 </div>
			   		<div class="col-md-12" aria-required="false">
						<label for="id_description" class="form-label">Business Description</label>
						{{ business_form.description }}
                	 </div>
					<button class="btn btn-secondary col-md-1" type="submit">Edit</button>
			</form>
		 </div>
		{% if hours_forms %}
			 <h1 id="head">Edit Opening Hours</h1>
			 <br />
			 {% for hour_form in hours_forms %}
		  <div class="container p-4 mt-3" style="background-color: #71a4f0;width: 35% ; border-radius: 5%">
				<form
				method="post"
				action="{% url 'leidos_app:save_opening_hours_edit' hour_form.0.pk %}"
				enctype="multipart/form-data"
				class="row g-3">
					{% csrf_token %}

					 <div class="col-md-6" aria-required="true">
						<label for="id_weekdays_from" class="form-label">Weekday From</label>
						{{ hour_form.1.weekday_from }}
                	 </div>
					<div class="col-md-6" aria-required="false">
						<label for="id_weekdays_to" class="form-label">Weekday To</label>
						{{ hour_form.1.weekday_to }}
                	 </div>
					<div class="col-md-6" aria-required="true">
						<label for="id_from_hour" class="form-label">From Hour</label>
						{{ hour_form.1.from_hour }}
                	 </div>
					<div class="col-md-6" aria-required="true">
						<label for="id_to_hour" class="form-label">To Hour</label>
						{{ hour_form.1.to_hour }}
                	 </div>
					<button class="btn btn-secondary col-md-3" type="submit">Edit</button>
					<a class="btn btn-danger col-md-3" href="{% url 'leidos_app:delete_opening_hours' hour_form.0.pk %}">Delete</a>
				</form>
			 </div>
				<br />
			 {% endfor %}
		 {% endif %}
    </div>
	<br />

<nav id ="categories">
		<ul>
			{% for section in sections %}
				<li>
					<a onclick=document.getElementById("{{ section.0.name }}").scrollIntoView(true) href="#mains">{{ section.0.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>

	<br>


{% for section in sections %}
	<div id="{{ section.0.name }}" class="cat-name">
		<span><b>{{ section.0.name }}</b></span>
		<a href="{% url 'leidos_app:delete_section' section.0.pk %}" class="btn btn-danger">Delete Section</a>
	</div>

	<br>

	<div class="tiles">
	{% for item in section.1 %}
		<div class="tile">
			<div style="text-align: center;"><b>{{ item.name }}</b></div>
			{% if item.img %}
			<img src="{{MEDIA_URL}}{{item.img}}" alt="Banner" class="tile-image">
			{% endif %}
			<div class="tile-content">
				{{ item.description }}
			</div>
			<div class="tile-price">
				{{ item.price }}£
			</div>
			<a href="{% url 'leidos_app:delete_section_item' item.pk %}" class="btn btn-danger">Delete Item</a>
		</div>
		{% endfor %}
	</div>
{% endfor %}

{% endblock %}