{% extends 'leidos_app/base.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block title_block %}
Edit Business Details
{% endblock %}

{% block body_block %}

<script  
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOLE9zYh4J-uU_dO_iykrtcu0YOL3f7_Y&callback=initialize&libraries=places&v=weekly"
async>
</script>


<link rel="stylesheet" type="text/css" href="{% static 'business.css' %}"/>

	 <a href="{% url 'leidos_app:business' business.slug %}" class="btn btn-primary" style="margin: 10px; margin-left: 93%">
		 Go Back
	 </a>
     <div class="container mt-3 justify-content-center" id="content">
        <h1 class="text-center">Edit Business Details</h1>
		<div class="text-center">
		 {% include 'includes/create_section_modal.html' %}
		 {% if section_item_form %}
		 	{% include 'includes/create_section_item_modal.html' %}
		 {% endif %}
		 {% include 'includes/create_hours_modal.html' %}
		 </div>
		 <br />
		 <div class="container p-4 mt-3" style="background-color: #71a4f0; width:50%; border-radius: 5%">
		   <form
				method="post"
				action="{% url 'leidos_app:save_business_edit' business.slug %}"
				enctype="multipart/form-data"
				class="row g-3">
					{% csrf_token %}
					<div class="col-md-7" aria-required="true">
						<label for="id_address" class="form-label">Address</label>
						{{ business_form.address }}
                	 </div>
			   		<div class="col-md-5" aria-required="false">
						<label for="id_img" class="form-label">Business Cover Image</label>
						{{ business_form.img }}
                	 </div>
			   		<div class="col-md-12" aria-required="false">
						<label for="id_description" class="form-label">Business Description</label>
						{{ business_form.description }}
                	 </div>

					 {{business_form.lat}}
					 
					 {{business_form.long}}

					<button class="btn btn-secondary col-md-1" type="submit">Edit</button>
			</form>

			<script>
				function initialize() {
					var input = document.getElementById('id_address');
					var autocomplete = new google.maps.places.Autocomplete(input, { types: ["geocode"] });
					autocomplete.setFields(["address_component","geometry"]);
					autocomplete.addListener('place_changed', function() {
						console.log("lat=" + autocomplete.getPlace().geometry.location.lat());
						console.log("long=" + autocomplete.getPlace().geometry.location.lng());
						console.log(autocomplete.getPlace().geometry.location.toUrlValue(6));
						document.getElementById('id_lat').value = autocomplete.getPlace().geometry.location.lat()
						document.getElementById('id_long').value = autocomplete.getPlace().geometry.location.lng()
					  });
				}
		
				google.maps.event.addDomListener(window, 'load', initialize);
			</script>
		

		 </div>
		 <br/>
		{% if hours_forms %}
			 <h1 id="head">Edit Opening Hours</h1>
			 <br />
		 <div class="tiles">
			 {% for hour_form in hours_forms %}
		  <div class="container p-4 mt-3" style="background-color: #71a4f0; border-radius: 5%">
				<form
				method="post"
				action="{% url 'leidos_app:save_opening_hours_edit' hour_form.0.pk %}"
				enctype="multipart/form-data"
				class="row g-3">
					{% csrf_token %}

					 <div class="col-md-6" aria-required="true">

						<label for="id_weekdays_from" class="form-label">Weekday From</label>
						{{ hour_form.1.weekday_from }}

						 <label for="id_from_hour" class="form-label">From Hour</label>
						{{ hour_form.1.from_hour }}

                	 </div>

					<div class="col-md-6" aria-required="false">

						<label for="id_weekdays_to" class="form-label">Weekday To</label>
						{{ hour_form.1.weekday_to }}

						<label for="id_to_hour" class="form-label">To Hour</label>
						{{ hour_form.1.to_hour }}

                	 </div>

					<div class="col d-flex">
						<button class="btn btn-secondary" type="submit">Edit</button>
					</div>

					<div class="col d-flex justify-content-end align-items-end">
						<a class="btn btn-danger" type="button" href="{% url 'leidos_app:delete_opening_hours' hour_form.0.pk %}">{% bs_icon 'trash3' %}</a>
					</div>

				</form>
			 </div>
				<br />
			 {% endfor %}
		 {% endif %}
		 </div>
    </div>
	<br />

	<style>
		.trs {
			background-color: transparent;
			border-color: transparent;
			font-size: 25px
		}
	</style>
	<!-- Create navigation bar containing section names as buttons with scrollIntoView on click -->
	<nav class="container-flex" style="padding: 10px; display: block; background-color: #5A9BD5">
		<div class="col-md-12 text-center">
			{% for section in sections %}
			<button class="btn btn-primary btn-lg trs" style="margin-right: 5%"
					onclick=document.getElementById("{{ section.0.name }}").scrollIntoView(true)>{{ section.0.name }}</button>
			{% endfor %}
		</div>
	</nav>

	<br>

	{% for section in sections %}
		<div id="{{section.0.name}}" class="container-flex" style="background-color: #5A9BD5; padding: 15px">
			<span><b>{{ section.0.name }}</b></span>
			{% include 'includes/delete_section_modal.html' %}
		</div>

		<div class="tiles">
			{% for item in section.1 %}
				{% include 'includes/item_card.html' %}
			{% endfor %}
		</div>
	{% endfor %}

{% endblock %}