{% extends 'leidos_app/base.html' %}
{% load static %}

{% block head %}

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type = "text/css" href="{% static 'homepage_map.css' %}">

  <!-- JavaScript the Map -->
  <script>

    function initAutocomplete() {

      const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 	55.873543, lng: -4.289058 },
        zoom: 13,
        mapTypeId: "roadmap",
      });

      // Create the search box and link it to the UI element.
      const input = document.getElementById("pac-input");
      const searchBox = new google.maps.places.SearchBox(input);

      map.controls[google.maps.ControlPosition.TOP_CENTER].push(input);
      // Bias the SearchBox results towards current map's viewport.
      map.addListener("bounds_changed", () => {
        searchBox.setBounds(map.getBounds());
      });

      let markers = [];

      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener("places_changed", () => {
        const places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }

        // Clear out the old markers.
        markers.forEach((marker) => {
          marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        const bounds = new google.maps.LatLngBounds();

        places.forEach((place) => {

          if (!place.geometry || !place.geometry.location) {
            console.log("Returned place contains no geometry");
            return;
          }

          const icon = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25),
          };

          // Create a marker for each place.
          markers.push(
            new google.maps.Marker({
              map,
              icon,
              title: place.name,
              position: place.geometry.location,
            })
          );

          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });

        map.fitBounds(bounds);
      });

      // Add markers on the map for each business in the database
      {% for business in businesses %}

        var point = new google.maps.LatLng({{business.lat}},{{business.long}});

        var marker = new google.maps.Marker({
          position: point,
           map: map
        });

        // Infowindow content
        marker.content =    "<div class=\"card\" style=\"width: 18rem;\">\n" +
                            "  <img class=\"card-img-top\" src=\"{{MEDIA_URL}}{{business.img}}\" alt=\"Card image cap\">\n" +
                            "  <div class=\"card-body\">\n" +
                            "    <h5 class=\"card-title\">{{business.name}}</h5>\n" +
                            "       <h6 class=\"card-subtitle mb-2 text-muted\">{{business.address}}</h6>\n" +
                            "    <p class=\"card-text\">{{business.description}}</p>\n" +
                            "    <a href=\"{% url 'leidos_app:business' business.slug %}\" class=\"btn btn-primary\">Check Us Out!</a>\n" +
                            "  </div>\n" +
                            "</div>"
        
        // Create Infowindow for each business marker
        var infoWindow = new google.maps.InfoWindow();
          google.maps.event.addListener(marker, 'click', function () {
          infoWindow.setContent(this.content);
          infoWindow.open(this.getMap(), this);
        });

      {% endfor %}

    }
    
  </script>

{% endblock %}

{% block body_block %}
        
  <div style="text-align: center;font-size: 40pt; padding: 2%"><b><span>Find and Support</span></b>
  <b><span>a local business around you!</span></b></div>
  <div style="text-align: left;font-size: 20pt; padding: 7px"><span>Search for a buisness</span></div>
  <input
    id="pac-input"
    class="controls"
    type="text"
    placeholder="Search Box"
    />

    <div class="" style ="padding:10px; align-items: left;">

      <form class="d-flex " style="margin-left: 2%; margin-right: 2%" action="{% url 'leidos_app:search_business' request.path|url_to_str %}">
          
        <input id="tags" class="form-control me-2" type="search" placeholder="Search Business" aria-label="Search" name="business_name">
          
          <script>
            $(function () {
              var availableTags = [
                {% for business in businesses %}
                  "{{business.name}}",
                {% endfor %}
              ];
              
              $("#tags").autocomplete({
                source: availableTags
              });
            });  
          </script>
  
          <button class="btn btn-outline-success" type="submit">Search</button>
  
      </form>
    </div>
  <div style="text-align: left;font-size: 20pt; padding: 7px"><span>or find some in your area!</span></div>
  <div id = "map" ></div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOLE9zYh4J-uU_dO_iykrtcu0YOL3f7_Y&callback=initAutocomplete&libraries=places&v=weekly">
  </script>




{% endblock %}