{% extends 'leidos_app/base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title_block %}
    {{request.user.username}}
{% endblock %}

{% block body_block %}

<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="row mt-5 d-flex justify-content-around align-baseline">
          <div class="col-12 text-center text-light align-self-center p-3 rounded" style="background-color: #3F7875;">
            <div class="d-flex flex-column">
              <img src="{{MEDIA_URL}}{{request.user.userprofile.profile_pic}}" class="img-thumbnail img-fluid rounded-circle mx-auto" alt="" style="width: 8rem; height: 8rem;">
              <h2>{{request.user.username}}</h2>
              <span class="help-block">{{request.user.userprofile.description}}</span>
            </div>
              {% include 'includes/edit_profile_pic_modal.html' %}
              {% include 'includes/edit_profile_desc_modal.html' %}
          </div>

        <div class="col-lg-4 text-center" style="margin-top: 50px; background-color: #5A9BD5; border-top-left-radius: 1%">

            <p style="font-size: 25px; padding-top: 5px"><b>My Businesses</b></p>
            {% if owned_businesses %}
            <div class="card-deck">
                {% for business in owned_businesses %}
              <div class="card">
                <img class="card-img-top" src="{{MEDIA_URL}}{{business.img}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{business.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{business.address}}</h6>
                  <p class="card-text">{{business.description}}</p>
                    <a style="border-color: transparent" href="{% url 'leidos_app:business' business.slug %}" class="btn btn-outline-primary">{% bs_icon "arrow-right" size="2em" %}</a>
                </div>
              </div>
                <br>
                {% endfor %}
            </div>
        </div>
        {% endif %}


        <div class="col-lg-4 text-center" style="margin-top: 50px; background-color: #5A9BD5">

            <p style="font-size: 25px; padding-top: 5px"><b>My Favorites</b></p>
            {% if favorites %}
                <div class="card-deck">

                    <div class="card-deck">
                    {% for fav in favorites %}
                      <div class="card">
                        <img class="card-img-top" src="{{MEDIA_URL}}{{fav.business_fk.img}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{fav.business_fk.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{fav.business_fk.address}}</h6>
                          <p class="card-text">{{fav.business_fk.description}}</p>
                            <a style="border-color: transparent" href="{% url 'leidos_app:business' fav.business_fk.slug %}" class="btn btn-outline-primary">{% bs_icon "arrow-right" size="2em" %}</a>
                        </div>
                      </div>
                        <br>
                    {% endfor %}
            </div>
                </div>
        </div>
        {% endif %}


        <div class="col-lg-4 text-center" style="margin-top: 50px; background-color: #5A9BD5; border-top-right-radius: 1%">

            <p style="font-size: 25px; padding-top: 5px"><b>My Reviews</b></p>
            {% if comments %}
                <div class="card-deck">

                    {% for comment in comments %}
                      <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">{{comment.business_fk.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{comment.date_posted}}</h6>
                            <p class="card-text">{{comment.content}}</p>
                              <a style="border-color: transparent" href="{% url 'leidos_app:business' comment.business_fk.slug %}" class="btn btn-outline-primary">{% bs_icon "arrow-right" size="2em" %}</a>
                          </div>
                           <a style="position: absolute; top: 0; right: 0; border-color: transparent;" href="{% url 'leidos_app:delete_comment' comment.pk %}" class="btn btn-outline-danger">{% bs_icon "trash3" size="1.5em" %}</a>
                        </div>
                    {% endfor %}
                </div>
        </div>
        {% endif %}

    </div>
</div>


{% endblock %}