<!DOCTYPE html>
{% extends 'leidos_app/base.html' %}
{% load static %}

<html>
<head>
    {% block title_block %}
    Register
    {% endblock %}
</head>

{% block head_block %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock %}

{% block body_block %}
    <div class="form.css">
        <h1 class="form.h1">Register here!</h1>
        <form id="user_form" method="post" action="{% url 'leidos_app:register' %}">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
</html>