{% extends 'leidos_app/base.html' %}
{% load static %}

{% block title_block %}
Register Your Business
{% endblock %}

{% block head_block %}
        <link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock %}

{% block body_block %}
<style>
	#content{
    margin-left: 50px;
	}

	#head{
    text-align: center;
	}
</style>
     <div id="content">
        <h1 id="head">Register Business Here!</h1>
		 <div class="container p-3 mt-5">
       <form
			id="form"
			method="post"
			action="{% url 'leidos_app:register_business' %}"
			enctype="multipart/form-data"
			class="row g-3">
				{% csrf_token %}
				<div class="col-md-6" aria-required="true">
                    <label for="id_name" class="form-label" >Business Name</label>
                    {{ form.name }}
                </div>
		   		<div class="col-md-6" aria-required="true">
                    <label for="id_description" class="form-label" >Business Description</label>
                    {{ form.description }}
                </div>
		   		<div class="col-md-6" aria-required="true">
                    <label for="id_address" class="form-label" >Business Address</label>
                    {{ form.address }}
                </div>
		   		<div class="col-md-6" aria-required="true">
                    <label for="id_img" class="form-label" >Business Cover Image</label>
                    {{ form.img }}
                </div>

				<button class="btn btn-primary" type="submit">Register</button>
        </form>
		 </div>
    </div>

{% endblock %}