.banner-container {
    width: 100%;   
    background-color: white;
	position: relative;
	text-align: center;
	
}


.banner-container > span img{
    width: 100%;
	height: 300px;
}

.business-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}

#categories ul{
	list-style-type: none;
	padding: 20px;
	margin: 0;
	background-color: teal;
	text-align: center;
}

#categories ul li a:hover{
	background: black;
	text-decoration: underline;
}

#categories li{
	display: inline;
	font-size: 1.5em;
	font-family: Arial;
	
}

#categories li a{
	text-decoration: none;
	color: white;
	padding: 20px 40px;
}

.cat-name{
display:block;
  clear:both;
  background:#5A9BD5;
  padding:15px 0;
}	

.tiles {
	margin: 0 auto;
	max-width: 2000px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	font-family: Roboto;
}

.tile {
	box-shadow: 0 0 3px rgba(0,0,0.1);
	
}	

.tile-image {
	width: 100%;
	display: block;
}	

.tile-content {
	line-height: 1.5;
	font-size: 0.9em;
	padding: 15px;
	background: #fafafa
}	

.tile-content > p:first-of-type {
    margin-top: 0;
}

.tile-content > p:last-of-type {
    margin-bottom: 0;
}

.tile-price {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}