

input[type=text], input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.menuh1{
    text-align: center;
    background-color: aliceblue;
}

input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    
}

*{
    box-sizing: border-box;
}


.imgcolumn {
    float: left;
    width: 25%;
    padding: 10px;
}
